#card-product {
  .content {
    .about__product {
      display: grid;
      grid-template-columns: 380px 1fr;
      grid-gap: 25px;
      margin: 25px 0 30px;
    }
  }
  .slider-for {
    max-width: 320px;
    margin: 0 auto;
    .slider__img {
      img {
        width: 320px;
        height: 320px;
        object-fit: contain;
      }
    }
  }
  .slider-nav {
    margin: 20px 0 0;
    .slider__img {
      img {
        width: 80px;
        height: 80px;
        object-fit: contain;
      }
    }
  }
  .slider__for-box {
    position: relative;
    .attentionIcon {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
  }
  .rigth {
    .about__items {
      .product__name {
        margin-bottom: 43px;
        .brand {
          font-size: 1.475em;
          color: $color_article;
          font-family: "Montserrat-Medium";
        }
        h1 {
          margin: 0;
        }
        .article {
          p {
            color: $color_article;
            font-size: 1em;
            span {
              margin-left: 3px;
            }
          }
        }
      }
      .product__description {
        overflow: hidden;
        position: relative;
        &.hide {
          height: 200px;
        }
        &.hide:after {
          content: "";
          display: block;
          height: 50px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            #fff 75%
          );
        }
        p {
          color: $color_card__product-text;
          font-size: 0.9em;
          line-height: 1.2;
        }
      }
      .product__description-show {
        color: $color_card__product-text;
        opacity: 0.8;
        position: relative;
        &::after {
          content: url(../img/icon/arrows_down.png);
          position: absolute;
          right: -20px;
        }
      }
      .product__price {
        @include flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color_product__price-bg;
        border-radius: 10px;
        padding: 5px 12px;
        height: 60px;
        margin-bottom: 30px;
        max-width: 550px;
        position: relative;
        .prices {
          @include flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .strikeout__price {
            margin: 0 0 0 -25px;
            p {
              text-decoration: line-through;
              color: $color_strikeout__price;
            }
          }
          .current__price {
            font-size: 1.35em;
          }
        }
        .quantity {
          position: absolute;
          left: 50%;
          transform: translateX(-150%);
          input {
            border: 1px solid $color_search-border;
            width: 55px;
            height: 40px;
            border-radius: 10px;
            font-size: 1em;
            text-align: center;
            padding: 0 0px 0 15px;
          }
        }
        .addToCart {
          position: absolute;
          right: 0;
          a {
            position: relative;
            display: block;
            background-color: $color_addToCart-bg;
            width: 270px;
            height: 60px;
            padding: 9px 10px;
            border-radius: 10px;
            text-align: center;
            img {
              width: 36px;
              height: 42px;
              filter: invert(1);
              position: absolute;
              left: 60px;
            }
            &::after {
              content: "В Корзину";
              text-transform: uppercase;
              color: $color_white;
              position: absolute;
              top: 20px;
              right: 45px;
            }
            &:hover {
              
            }
          }
        }
      }
    }
  }
}
.reviews {
  h3 {
    font-size: 2em;
    margin-bottom: 40px;
  }
}
