#cart {
  .conteiner {
    background-color: $color_white;
    border-radius: 5px;
    padding: 25px 20px;
    max-width: 1225px;
  }
  .back__to {
    a {
      color: $color_cart_text;
      margin: 0 0 0 15px;
      font-family: "Gilroy-Regular";
      &::before {
        content: "â†";
        margin: 0 3px 0 -15px;
      }
    }
  }
  .head {
    @include flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: $color_header_link;
      font-size: 1.8em;
      margin-top: 10px;
      margin-bottom: 35px;
      margin-left: 40px;
    }
    a {
      color: $color_cart_text;
      font-family: "Gilroy-Regular";
      font-weight: bold;
      margin: 0 15px 15px 0;
    }
  }
  .step__name-dreadcumbs {
    background-color: $color_step_bg;
    margin: 0 -20px 38px;
    padding: 0 85px;
    ul {
      @include flex;
      li {
        padding: 28px 0;
        a {
          font-size: 1.125em;
          color: $color_cart_text;
          font-weight: bold;
          padding: 0 75px 0 20px;
          display: inline-block;
          position: relative;
          &::before {
            content: "1";
            background-color: $color_white;
            text-align: center;
            width: 25px;
            height: 25px;
            color: $color_cart_text;
            position: absolute;
            left: -20px;
            border-radius: 50%;
            font-size: 1em;
          }
          &::after {
            content: ">";
            margin: 0 20px;
            position: absolute;
            color: $color_cart_text;
          }
        }
        &:nth-child(1) a {
          color: $color_header_link;
          &:before {
            color: $color_header_link;
          }
        }
        &:nth-child(2) a {
          color: $color_category-menu_text;
          &:before {
            content: "2";
            color: $color_category-menu_text;
          }
        }
        &:nth-child(3) a {
          &:before {
            content: "3";
          }
        }
        &:nth-child(3) a {
          &::after {
            content: none;
          }
        }
      }
    }
  }
  .cart__content {
    @include flex;
    justify-content: space-between;
    .add__coupon {
      width: 100%;
      height: 100%;
      max-width: 370px;
      margin: 0 20px;
      border: 1px solid $color_cart_attribute;
      border-radius: 5px;
    }
    .coupon__description {
      border-bottom: 1px solid $color_cart_attribute;
      background-color: $color_step_bg;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      label {
        color: $color_category-menu_text;
        font-weight: bold;
        font-size: 1.3em;
        margin: 20px 20px 17px 20px;
        display: inline-block;
      }
    }

    .coupon__action {
      margin: 0 20px 30px;
      input[name="coupon_code"] {
        width: 190px;
        padding: 10px;
        color: $color_cart_text;
        font-size: 1em;
        margin: 0 auto;
      }
      button {
        font-size: 1em;
        width: 136px;
        margin: 0 0 0 -5px;
        padding: 10px 0;
        cursor: pointer;
        background-color: $color_white;
        color: $color_cart_text;
        @include transition;
        &:hover {
          background-color: $color_header_link;
          color: $color_white;
        }
      }
    }

    .order-total {
      padding: 20px;
      .total-box {
        margin: 0 0 20px;
        @include flex;
        justify-content: space-between;
        p {
          font-size: 1.3em;
          color: $color_category-menu_text;
          font-weight: bold;
        }
        .amount {
          letter-spacing: 1.3px;
        }
      }
      .wc-proceed-to-checkout {
        a {
          display: block;
          padding: 12.5px 20px;
          width: 100%;
          max-width: 328px;
          text-align: center;
          background-color: $color_header_link;
          color: $color_white;
          font-size: 1.2em;
          font-weight: bold;
          text-transform: uppercase;
          @include transition;
          border-radius: 5px;
          &:hover {
            background-color: $color_bg_header-bottom__row;
          }
        }
      }
    }
    .order-total_description {
      margin-bottom: 5px;
      p {
        color: $color_cart_text;
      }
    }
  }
  .m-top {
    margin-top: 20px;
  }
}
button[name="clear-cart"] {
  background-color: transparent;
  margin: 10px 0;
  font-family: "Gilroy-medium";
  font-size: 1em;
  color: $color_subCategory-menu_text;
  font-weight: bold;
  cursor: pointer;
}
