#category {
  .content {
    @include flex;
  }
}
.left__sidebar {
  max-width: 25%;
  width: 100%;
  background-color: $color_left_sidbar_bg;
  color: $color_left_sidbar_text;
  padding: 22px;
  margin-bottom: 20px;
  a {
    color: $color_left_sidbar_text;
  }
}
#category {
  .category-page {
    .category__items {
      padding-bottom: 30px;
    }
    .item {
      margin: 30px 40px 0 0;
      width: 220px;
      .button {
        @include transition;
        a {
          @include transition;
          &:hover {
            font-weight: bold;
          }
        }
        &::after,
        &::before {
          content: "";
        }
      }
    }
    .dropdown {
      display: none;
      ul {
        padding: 20px 0 0 20px;
        li {
          width: 220px;
          a {
            margin: 10px 0;
            display: block;
            line-height: 1;
            @include transition;
            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .filtr {
    padding: 30px 0 0;
    .type__of {
      p {
        font-size: 1em;
        color: $color_category-menu_text;
        font-weight: bold;
        margin-bottom: 25px;
      }
      .filtr__items {
        li {
          padding-bottom: 20px;
          input:checked label {
            font-weight: bold;
          }
        }
      }
    }
  }
  .right__content {
    background-color: $color_white;
    max-width: 75%;
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 30px 35px;
    margin-bottom: 20px;
    .name__of__category {
      h2 {
        color: $color_header_link;
        font-size: 2em;
        margin-bottom: 30px;
        width: 325px;
        &::before {
          width: 81px;
        }
      }
    }
    .sorting {
      @include flex;
      justify-content: space-between;
      margin-bottom: 40px;
      align-items: center;
      border-bottom: 1px solid $color_category-menu-border;
      form {
        margin: 10px 0;
      }
      legend {
        color: $color_header_link;
      }
      select {
        margin-left: 5px;
        color: $color_header_link;
        font-weight: bold;
        font-size: 1em;
        font-family: "Montserrat-Regular";
      }
    }
  }
  .product__items {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
      li {
        margin-bottom: 20px;
      }
    }
  }
}
