@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  // url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
  // url("../fonts/Gilroy/Gilroy-Medium.eot") format("eot");
}
@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  // url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
  // url("../fonts/Gilroy/Gilroy-Regular.eot") format("eot");
}
@font-face {
  font-family: "Montserrat-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-LightItalic.ttf") format("truetype");
  // url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
  // url("../fonts/Gilroy/Gilroy-Regular.eot") format("eot");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  // url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
  // url("../fonts/Gilroy/Gilroy-Regular.eot") format("eot");
}
