@font-face {
  font-family: "Gilroy-medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype"),
    url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Medium.eot") format("eot");
}
@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"),
    url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy/Gilroy-Regular.eot") format("eot");
}
@font-face {
  font-family: "VAG-W-bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/VAGWorld/vag-world-bold.ttf") format("truetype");
}
