#footer {
  padding: 25px 0 30px;
  background-color: $color_footer-bg;
  .social {
    span {
      margin-top: 5px;
    }
  }
  a,
  p,
  h4 {
    color: $color_footer-color;
  }
  h4 {
    font-weight: normal;
    text-transform: uppercase;
  }
  .conteiner {
    @include flex;
    flex-wrap: nowrap;
    .logo {
      margin-right: 15px;
    }
  }
  .footer__content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 15px;
    max-width: 75%;
  }
  h4 {
    font-size: 1.1em;
    margin-bottom: 25px;
  }

  .footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    ul {
      li {
        font-size: 0.85em;
        margin-bottom: 10px;
        a {
          @include transition;
          &:hover {
            @include hvrOpacity;
          }
        }
      }
    }
  }
  .footer__contacts {
    a,
    p {
      font-size: 0.85em;
    }
    .operating__mode {
      margin-bottom: 25px;
      p {
        line-height: 1.2;
      }
    }
  }
}
.footer__signature {
  background-color: $color_signature-bg;
  color: $color_signature-color;
  P {
    padding: 12px 0;
    font-size: 0.8em;
    text-align: center;
  }
}
.mailpoet_paragraph {
  margin: 0 auto;
}
.mailpoet_message {
  position: absolute;
  bottom: -15px;
  font-size: small;
}
.parsley-custom-error-message {
  color: $color_danger;
  max-width: 300px;
}
.mailpoet_validate_success {
  color: rgba(0, 128, 0, 0.85);
}
