#footer {
  padding: 80px 0;
  background-color: $color_footer-bg;
  a {
    color: $color_footer-linkMenu;
  }
  .conteiner {
    @include flex;
    justify-content: space-between;
  }
  .footer__nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    li {
      font-size: 1.75em;
      font-weight: bold;
      margin-bottom: 19px;
      a {
        @include transition;
        &[aria-current="page"] {
          color: $color_footer-linkMenu-active;
        }
        &:hover {
          color: $color_footer-linkMenu-active;
        }
      }
    }
  }
  .footer__menu {
    flex: 0 1 48%;
  }
  .footer__contacts {
    flex: 0 1 49%;
    .footer__subscribe {
      p {
        font-size: 1.35em;
        color: $color_text-description;
        margin: 0 0 25px;
      }
      p.sbscrbr-form-error {
        color: $color_danger;
        font-size: medium;
        margin: 0 0 5px;
      }
      p.sbscrbr-form-done {
        color: rgba(0, 128, 0, 0.85);
        font-size: medium;
        position: absolute;
        top: -20px;
      }
      #sbscrbr-form,
      .mailpoet_form {
        @include flex;
        position: relative;
        padding: 0;
      }
      input[type="email"],
      input[name="sbscrbr_email"],
      input[type="button"],
      input[name="sbscrbr_submit_email"] {
        border: 2px solid $color_footer-subscribe-btn;
        height: 70px;
        width: 100%;
        max-width: 345px;
        padding: 0 25px;
        margin-bottom: 35px;
        font-size: 1.5em;
        color: $color_header_link;
      }
      input[type="button"],
      input[type="submit"],
      input[name="sbscrbr_submit_email"] {
        max-width: 200px;
        color: $color_white;
        background-color: $color_footer-subscribe-btn;
        @include transition;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 21px 18px;
        height: 70px;
      }
    }
    .footer__about {
      @include flex;
      line-height: 1.2;
      font-family: "Gilroy-Regular";
      .phone,
      .operating__mode {
        font-size: 1.75em;
        margin-right: 70px;
        p {
          color: $color_text-description;
        }
        a {
          color: $color_footer-linkMenu-active;
          font-weight: bold;
        }
      }
      .operating__mode {
        p {
          &:nth-child(2) {
            color: $color_footer-linkMenu-active;
            font-weight: bold;
            letter-spacing: 1.5px;
          }
        }
      }
    }
  }
}
.footer__signature {
  color: $color_signature;
  font-family: "Gilroy-Regular";
  P {
    margin-top: -25px;
  }
}
.mailpoet_paragraph {
  margin: 0 auto;
}
.mailpoet_message {
  position: absolute;
  bottom: -15px;
  font-size: small;
}
.parsley-custom-error-message {
  color: $color_danger;
  max-width: 300px;
}
.mailpoet_validate_success {
  color: rgba(0, 128, 0, 0.85);
}
