#header {
  .mobile__content {
    display: none;
    text-align: center;
    font-size: 1em;
    .category__link {
      text-align: center;
      display: block;
      padding: 7px 0;
      font-size: 1rem;
      font-weight: bold;
    }
    .mobile__content-description {
      background-color: $color_bg_header-bottom__row;
      padding: 30% 0 0;
      color: $color_white;
      line-height: 1.4;
      height: 100vh;
      font-size: 1rem;
      a {
        color: $color_white;
      }
    }
    .close-menu {
      background-color: $color_white;
      position: absolute;
      bottom: 0;
      width: 100%;
      p {
        color: $color_header_link;
        font-weight: bold;
        padding: 15px 0;
      }
    }
  }
  .mobile__content.active {
    display: block;
  }
  border-bottom: 3px solid $color_white;
  a {
    color: $color_header_link;
  }
  .top__row {
    background-color: $color_bg_header-top__ow;
    padding: 3px 0 2px;
    .logo {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 260px;
        height: 60px;
        object-fit: contain;
      }
    }
    .menu__items {
      ul {
        li {
          margin: 0 25px;
          a {
            @include transition;
            &:hover {
              @include hvrOpacity;
            }
          }
        }
      }
    }
    .cabinet {
      a {
        @include flex;
        font-size: 1.112em;
        cursor: pointer;
        @include transition;
        img {
          object-fit: contain;
        }
        span {
          display: block;
          width: 90px;
          padding: 0 10px;
          text-align: center;
        }
        &:hover {
          @include hvrOpacity;
        }
      }
    }
  }
  .bottom__row {
    background-color: $color_bg_header-bottom__row;
    color: $color_white;
    font-size: 1.112em;
    padding: 15px 0;
    position: relative;
    a {
      color: $color_white;
    }
    .conteiner {
      align-items: center;
    }
    .catalog__menu {
      @include flex;
      align-items: center;
      position: relative;
      span {
        cursor: pointer;
      }
      .category__link {
        text-transform: uppercase;
      }
      .burger__catalog {
        display: block;
        width: 22px;
        height: 16px;
        position: relative;
        margin: 0 10px 0 0;
      }
      .burger__catalog span {
        position: absolute;
        background-color: $color_white;
        left: 0;
        width: 100%;
        height: 1px;
        top: 7px;
      }
      .burger__catalog::before,
      .burger__catalog::after {
        content: "";
        background-color: $color_white;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
      }
      .burger__catalog::before {
        top: 0;
      }
      .burger__catalog::after {
        bottom: 0;
      }
      .category {
        z-index: 4;
        width: 100%;
        background-color: $color_bg_category-menu;
        position: absolute;
        top: 48px;
        left: 0;
        font-size: 0.7em;
        display: none;
        &.active {
          display: block;
        }
        .category__box-menu {
          display: flex;
        }
        a {
          display: inline-block;
          margin: 8px 40px 12px 15px;
          font-weight: bold;
        }
        .category__menu-items {
          border-right: 4px solid $color_white;
          display: block;
          @include transition;
          background-color: #ffe3cd;
          li {
            @include transition;
            white-space: initial;
            padding: 8px 40px 12px 15px;
            font-weight: bold;
            cursor: pointer;
            width: 225px;
            a {
              color: $color_category-menu_text;

              margin: 0;
            }
            &:hover {
              background-color: $color_white;
              width: 230px;
              margin-left: -5px;
              padding-left: 20px;
            }
          }
        }
        .box__sub-menu > * {
          background-color: #ffe3cd;
          padding: 25px;
          display: none;
          height: 100%;
          h3 {
            font-size: 1.5em;
            color: $color_category-menu_text;
            padding: 8px 15px 12px;
          }
        }
        .category__sub-menu {
          ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
          }
          li {
            display: block;
            width: 33%;
            a {
              white-space: nowrap;
              color: $color_subCategory-menu_text;
              padding: 0px 15px 0px 0;
              &:hover {
                opacity: 0.75;
              }
            }
          }
        }

        .hidden {
          display: none !important;
        }

        .visuallyhidden {
          opacity: 0 !important;
        }

        .category__description {
          background-color: $color_white;
          p {
            color: $color_subCategory-menu_text;
            text-transform: initial;
            padding: 10px 0;
            text-align: center;
          }
        }
      }
    }
    .search,
    #search {
      position: relative;
      input[name="search"],
      input[name="s"] {
        width: 290px;
        height: 35px;
        background-color: $color_search-bg;
        border-radius: 4px;
        padding: 0 20px;
        font-size: 20px;
        color: $color_header_link;
        border: none;
        &::placeholder {
          color: $color_header_link;
        }
      }
      .search__btn {
        @include cart-btn;
        right: 10px;
        top: 0px;
        width: 50px;
        height: 35px;
        img {
          max-width: 20px;
          height: 20px;
        }
      }
    }
    .free_shipping {
      p {
        text-align: center;
        span {
          font-size: small;
        }
      }
    }
    .contacts__phone {
      a {
        position: relative;
        color: $color_white;
        margin: 0 0 0 30px;
        &::before {
          content: url(../img/icon/phone.png);
          position: absolute;
          top: 0px;
          left: -30px;
        }
      }
    }
    #cart,
    .cart {
      @include flex;
      align-items: center;
      .cart__btn {
        background-color: transparent;
        cursor: pointer;
        position: relative;
        .basket-btn__counter {
          position: absolute;
          top: -7px;
          right: -7px;
          background-color: $color_white;
          border-radius: 50%;
          padding: 3px;
          color: $color_header_link;
          font-weight: bold;
          font-size: 12px;
          width: 20px;
          height: 20px;
          text-align: center;
        }
        img {
          max-width: 41px;
          height: 37px;
          cursor: pointer;
        }
      }
      a {
        margin-left: 5px;
      }
    }
  }
  .conteiner,
  .menu__items ul {
    @include flex;
    align-items: center;
    justify-content: space-between;
  }
}

// test
