#header {
  .top__row {
    background-color: $color_bg_header-top__bg;
    padding: 9px 0;
    color: $color_bg_header-top__color;
    font-size: 0.89em;
    .conteiner {
      @include flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }
    p {
      color: $color_bg_header-top__color;
    }
  }
  .bottom__row {
    background-color: $color_bg_header-bottom__row;
    color: $color_white;
    .bottom__row-top,
    .top__box,
    .bottom__row-down {
      @include flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px 0;
      .top__box {
        margin: 0;
      }
    }
    .bottom__row-down {
      margin: 0 0 12px;
    }
  }
  .contacts__phone {
    a {
      font-size: 1.555em;
    }
  }
  .cabinet,
  .mobile__cabinet {
    position: relative;
    margin: 0 15px 0 25px;
    a {
      @include transition;
      &:hover {
        @include hvrOpacity;
      }
    }
    span {
      cursor: pointer;
      img {
        @include transition;
      }
      &.active img {
        transform: rotate(180deg);
      }
    }
    .cabinet__dropdown {
      position: absolute;
      top: 40px;
      right: 200%;
      transform: translate(50%, 2%);
      z-index: 1;
      padding: 10px 15px 25px;
      border: 1px solid $color_category-menu-border;
      border-radius: 10px;
      z-index: 4;
      @include transition;
      visibility: hidden;
      opacity: 0;
      width: 235px;
      background-color: $color_white;
      &:before,
      &::after {
        content: "";
        position: absolute;
        top: -15px;
        left: 85%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
      }
      &:before {
        border-style: solid;
        border-width: 0 13.5px 15px 13.5px;
        border-color: transparent transparent $color_category-menu-border
          transparent;
      }
      &:after {
        border-style: solid;
        border-width: 2px 13px 14px 13px;
        border-color: transparent transparent $color_white transparent;
      }
      &.active {
        visibility: visible;
        opacity: 1;
      }
      p {
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
      }
    }
    form {
      input {
        @include input;
        padding: 8px 0;
        text-align: center;
      }
      input[type="submit"],
      button {
        @include input-submit;
        padding: 8px 0;
        margin-top: 0;
        max-width: 100%;
      }
      a {
        font-size: 0.6em;
        text-align: center;
        border-bottom: 1px solid $color_category-menu-border;
        margin-bottom: 13px;
        display: block;
        width: 122px;
        margin: 8px auto 0;
      }
    }
  }
  #cart,
  .cart {
    @include flex;
    .cart__btn {
      background-color: transparent;
      cursor: pointer;
      position: relative;
      margin: 0 10px 0 0px;
      .basket-btn__counter {
        position: absolute;
        top: 0;
        right: -10px;
        background-color: $color_basket-btn__counter-bg;
        border-radius: 50%;
        padding: 2px;
        color: $color_basket-btn__counter-color;
        font-size: $basket-btn__counter-fz;
        width: 19px;
        height: 19px;
        text-align: center;
      }
      img {
        max-width: 41px;
        height: 37px;
        cursor: pointer;
      }
    }
    a {
      margin-left: 5px;
    }
  }
  .catalog__menu {
    @include flex;
    align-items: center;
    position: relative;
    justify-content: center;
    font-size: 1rem;
    .category__link {
      background-color: $color_category__link-bg;
      color: $color_category__link-color;
      padding: 10px 62px 11px;
      border-radius: 10px;
      transition: all 0.15s ease;
      border: 1px solid transparent;
      &:hover {
        background-color: $color_category__link-color;
        color: $color_category__link-bg;
      }
      &.active {
        background-color: $color_category__link-color;
        color: $color_category__link-bg;
        border: 1px solid $color_category-menu-border;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &::after {
          content: url(../img/icon/arrows_accaunt.png);
          transform: rotate(360deg);
          position: absolute;
          right: 8px;
        }
        &::before {
          content: "";
          bottom: 0;
          width: 220px;
          height: 1px;
          position: absolute;
          left: 17px;
          background-color: $color_category-menu-border;
          z-index: 5;
        }
      }
    }
    .category {
      z-index: 4;
      width: 100%;
      position: absolute;
      top: 41px;
      left: 0;
      display: none;
      &.active {
        display: block;
      }
      .category__box-menu {
        display: flex;
      }
      a {
        display: inline-block;
        margin: 8px 0 12px 62px;
        @include transition;
        &:hover {
          font-weight: bold;
        }
      }
      .category__menu-items {
        display: block;
        @include transition;
        background-color: $color_bg_category-menu;
        border: 1px solid $color_category-menu-border;
        border-top: none;
        border-bottom-left-radius: 10px;
        padding: 10px 0;
        li {
          @include transition;
          white-space: initial;
          cursor: pointer;
          width: 260px;
          color: $color_category-menu_text;
          @include transition;
          a {
            font-weight: bold;
          }
          &:hover {
            font-weight: bold;
          }
        }
      }
      .box__sub-menu {
        margin-left: -1px;
        max-width: 860px;
        & > * {
          background-color: $color_bg_category-menu;
          padding: 10px 20px;
          height: 100%;
        }
      }
      .category__sub-menu {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid $color_category-menu-border;
        border-left: none;
        ul {
          display: flex;
          flex-wrap: wrap;
          width: 1000px;
          li {
            display: block;
            width: 21%;
            a {
              white-space: nowrap;
              color: $color_category-menu_text;
              font-weight: bold;
              margin: 5px 10px;
              &:hover {
                @include hvrOpacity;
              }
            }
            ul {
              width: 100%;
              li {
                width: 100%;
                a {
                  font-size: 0.875rem;
                  font-weight: normal;
                  padding: 0;
                }
              }
            }
          }
        }
      }

      .hidden {
        display: none !important;
      }

      .visuallyhidden {
        opacity: 0 !important;
      }
    }
  }
  .menu__items {
    ul {
      @include flex;
      align-items: center;
      justify-content: space-between;
      li {
        margin: 0 12px;
        a {
          @include transition;
          color: $color_header_link;
          font-size: 1rem;
          &:hover {
            @include hvrOpacity;
          }
        }
      }
    }
  }
  .search,
  #search,
  .mobile__search {
    position: relative;
    input[name="search"],
    input[name="s"] {
      width: 225px;
      height: 35px;
      padding: 0 0 0 24px;
      background-color: $color_search-bg;
      font-size: 0.89em;
      font-family: "Montserrat-LightItalic";
      color: $color_search-color;
      border-bottom: 1px solid $color_search-border;
      &::placeholder {
        color: $color_search-color;
      }
      @include focus-input;
    }
    .search__btn {
      @include cart-btn;
      left: 0;
      top: 0px;
      width: 20px;
      height: 100%;
      img {
        max-width: 20px;
        height: 20px;
      }
    }
  }
}
.social,
.change__lang {
  @include flex;
  flex-direction: row;
  align-items: center;
  p {
    margin: 0 5px 0 0;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    li {
      a {
        color: $color_bg_header-top__link_color;
        &.active {
          color: $color_bg_header-top__link_color-active;
        }
      }
    }
  }
}
.social {
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    li {
      background-color: $color_white;
      width: 25px;
      height: 25px;
      text-align: center;
      @include transition;
      @include flex;
      align-items: center;
      justify-content: center;
      a {
        color: $color_bg_header-top__bg !important;
      }
      &:hover {
        @include hvrOpacity;
      }
    }
  }
}
.mobile__content {
  display: none;
}
