/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 880px) and (max-width: 1024px) {
}

// Mobile *******************************************************************************************
@media only screen and (min-width: 320px) and (max-width: 880px) {
  body {
    // overflow-x: hidden;
  }
  .map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin: 20px 0;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  .conteiner {
    padding: 0 15px;
  }
  h2 {
    text-align: center;
  }
  #header .bottom__row #cart,
  .menu__items,
  .cabinet,
  #header .bottom__row .search,
  #header .bottom__row .free_shipping,
  #header .bottom__row .contacts__phone,
  .mobile__hide {
    display: none;
  }

  .logo {
    margin: 15px auto;
  }

  // mobile__content
  #header {
    .mobile__content {
      display: block;
      .row {
        @include flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }
      .row__link {
        .top__box {
          display: flex;
          align-items: center;
          .mobile__cabinet {
            margin: 12px 0 0;
            .cabinet__dropdown {
              top: 30px;
              right: 10px;
              &:after,
              &:before {
                top: -15px;
                left: 50%;
              }
            }
          }
        }
        .contacts__phone {
          margin: 0 15px;
        }
      }
    }
    .social,
    .change__lang {
      p {
        margin: 0 5px 5px 0;
      }
    }
    .change__lang {
      line-height: 1.4;
      p {
        &:first-letter {
          font-size: 130%;
          font-family: "Montserrat-Regular";
        }
      }
    }
    .mobile__search {
      margin: 5px 0;
      input {
        width: 100% !important;
      }
    }
    .catalog__menu {
      width: 100%;
    }
  }
  .mobile__content.active {
    display: block;
  }

  //  Burger Menu *******************************************************************************************
  .burger {
    display: block;
    width: 40px;
    height: 23px;
    position: relative;
    right: 0;
    top: 0;
    z-index: 5;
    cursor: pointer;
  }
  .burger span {
    position: absolute;
    background-color: $color_burger-menu;
    border-radius: 10px;
    left: 0;
    width: 100%;
    height: 5px;
    top: 9px;
    @include transition;
  }
  .burger::before,
  .burger::after {
    content: "";
    background-color: $color_burger-menu;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    @include transition;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger.active::before {
    transform: rotate(45deg);
    top: 10px;
  }
  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
  .menu__items {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: -100%;
    background-color: $color_white;
    @include transition;
    ul {
      @include flex;
      flex-direction: column;
      margin: 100px 0 0;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 !important;
        border-bottom: 2px solid $color_cart_attribute;
        width: 100%;
        padding: 7px 0;
        text-align: center;
        &:first-child {
          border-top: 2px solid $color_cart_attribute;
        }
        a {
          font-size: 1rem;
          padding: 12px 0;
          font-weight: bold;
        }
      }
    }
  }
  .menu__items.active {
    left: 0;
  }
  // *********************************

  #last__slider {
    .conteiner {
      padding: 0;
    }
    img {
      width: 100vw;
    }
  }

  .category__ptofuct-content .category__items {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    .item {
      max-width: 165px;
      .category__description {
        padding: 20px 10px;
        h3 {
          font-size: 1.5em;
        }
      }
    }
  }
  .last__item {
    margin: 5px auto !important;
    .category__description {
      position: relative !important;
      top: 0 !important;
      padding: 20px 5px !important;
      min-height: 100% !important;
    }
  }

  .review__items {
    height: 435px;
    overflow-y: hidden;
    .review_item {
      max-width: 160px;
      padding: 15px 15px 20px;
      margin: 15px auto 0px;
      .review__text p {
        max-height: 95px;
        overflow: hidden;
      }
    }
  }
  #footer {
    padding: 25px 0 0;
    .footer__content,
    .footer__nav {
      grid-template-columns: 1fr;
      justify-self: center;
      text-align: center;
    }
    .footer__content {
      max-width: 100%;
    }
    .conteiner {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .logo {
        margin-right: auto;
      }
    }
    .footer__nav {
      ul {
        h4 {
          position: relative;
          width: 120px;
          margin: 0 auto 25px;
          &:after {
            content: url(../img/icon/arrows_accaunt.png);
            position: absolute;
            filter: invert(1);
            transform: scale(1.1);
            right: -25px;
            top: -2px;
            @include transition;
          }
          &.active {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
        li {
          display: none;
          &.active {
            display: block;
          }
          &:last-child {
            margin-bottom: 25px;
          }
        }
      }
    }
    .social {
      justify-content: center;
      p {
        text-transform: uppercase;
      }
    }
  }

  // category page
  #category {
    .right__content,
    .left__sidebar {
      max-width: 100%;
      border: none;
      border-radius: 7px;
    }
    .right__content {
      padding: 30px 20px;
      .product__items {
        .sale__product-card {
          .card__footer {
          }
        }
        ul {
          li {
            margin: 0 auto 20px;
            .addToCart {
              display: flex;
              margin: -0px 20px 0;
            }
            .add_to_cart_button {
              left: 85px;
            }
          }
        }
      }
    }
  }
  // card-page
  #card-product {
    .content {
      .about__product {
        grid-template-columns: 1fr;
      }
    }
    .content {
      padding: 25px 10px;
    }
    .rigth,
    .left {
      flex: 1 1 100%;
    }
  }
  .reviews_content {
    grid-template-columns: 1fr;
  }
  // #cart
  #cart {
    .cart_item {
      flex-wrap: nowrap;
      .cart_item-box {
        flex-wrap: nowrap;
        &:first-child,
        &:last-child {
          padding: 0;
        }
        &:first-child {
          flex-wrap: wrap;
        }
      }
      .product-remove {
        margin: 0 auto;
      }
      .product-name {
        margin-bottom: 0px;
        height: 95px;
        overflow: hidden;
      }
      .product-thumbnail {
        padding: 0;
        border: none;
        a img {
          object-fit: contain;
        }
      }
    }
    .cart__content {
      .coupon__action {
        input[name="coupon_code"],
        button {
          margin: 5px auto;
          width: 100%;
          border: 1px solid;
          text-align: center;
        }
        button {
          background-color: $color_footer-subscribe-btn;
          color: $color_white;
        }
      }
    }
  }
  #ordering
    .cart__content
    .checkout
    .woocommerce-billing-fields__field-wrapper
    .form-row:nth-child(4)
    input {
    max-width: 100%;
  }
  .page {
    padding: 20px 10px;
  }
  .content__otherPage h1,
  .content__otherPage h2 {
    text-align: center;
  }

  #sale {
    .product__items {
      ul {
        li {
          margin: 0 auto 10px;
        }
      }
      .added_to_cart {
        bottom: -19px;
        left: -90px;
      }
    }
  }
  #category {
    .added_to_cart {
      bottom: -7px;
      left: 120px;
    }
  }
  .sale__product-slider {
    .added_to_cart {
      bottom: -19px;
      left: -90px;
    }
  }
  #customer_login {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
