@mixin focus-input {
  &:focus::placeholder {
    color: transparent;
    @include transition;
  }
}

@mixin input {
  font-family: "Montserrat-LightItalic";
  width: 100%;
  border: 1px solid $color_search-border;
  border-radius: 10px;
  padding: 12px 13px;
  margin-bottom: 15px;
  font-size: 0.75em;
  @include focus-input;
}
@mixin textarea {
  resize: none;
  height: 110px;
  margin-bottom: 10px;
}

@mixin input-submit {
  margin-top: 20px;
  border: 1px solid $color_search-border;
  margin-bottom: 0;
  background-color: $color_footer-bg;
  text-align: center;
  color: $color_white;
  font-family: "Montserrat-Medium";
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  @include transition;
  &:hover {
    background-color: $color_white;
    color: $color_footer-bg;
  }
}
