$color_modal-bg: rgb(255, 255, 255);
$color_modal-text: rgb(0, 0, 0);
$color_modal-product-name: rgb(130, 130, 130);
$color_modal-border-item: rgb(64, 64, 64);
$color_modal-order_total-bg: rgb(248, 248, 248);
$color_modal-remove: rgb(206, 27, 27);
$color_modal-close-btn: rgb(0, 0, 0);
$color_modal-form-item-bg: rgb(248, 248, 248);

#cart-modal {
  .uk-modal-dialog {
    max-width: 550px;
    width: 98%;
  }
  .modal-body {
    h2 {
      max-width: 350px;
      text-align: center;
      margin: 15px auto 20px;
      &::before {
        left: -52px;
      }
    }
    .cart-item {
      @include flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color_modal-border-item;
      padding: 15px 0;
      .item__img {
        img {
          width: 70px;
          height: 70px;
          object-fit: contain;
        }
      }
      .item__name {
        width: 180px;
        color: $color_modal-product-name;
      }
      .quantity {
        margin: 0 20px;
        span {
          display: block;
          border: 1px solid $color_search-border;
          width: 55px;
          height: 40px;
          border-radius: 10px;
          font-size: 1em;
          text-align: center;
          padding: 8px 0;
        }
      }
      .prices {
        @include flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 12px;
        .strikeout__price {
          p {
            text-decoration: line-through;
            color: $color_strikeout__price;
          }
        }
        .current__price {
          font-size: 1.125em;
          font-weight: bold;
        }
      }
      .quantity {
        margin: 0 20px;
        input {
          border: 1px solid $color_search-border;
          width: 55px;
          height: 40px;
          border-radius: 10px;
          font-size: 1em;
          text-align: center;
          padding: 0 0px 0 15px;
        }
      }
      .addToCart {
        a {
          position: relative;
          display: block;
          background-color: $color_addToCart-bg;
          width: 270px;
          height: 60px;
          padding: 9px 10px;
          border-radius: 10px;
          text-align: center;
          @include transition;
          border: 1px solid $color_addToCart-bg;
          &:hover img {
            filter: invert(0);
          }
          &:hover {
            background-color: $color_addToCart-btn-hover;
          }
          img {
            width: 36px;
            height: 42px;
            filter: invert(1);
            position: absolute;
            left: 60px;
            @include transition;
          }
          &::after {
            content: "В Корзину";
            text-transform: uppercase;
            color: $color_white;
            position: absolute;
            top: 20px;
            right: 45px;
            @include transition;
          }
          &:hover::after {
            color: $color_black;
          }
        }
      }

      .product-remove {
        a {
          color: $color_modal-remove;
          font-size: 40px;
        }
      }
    }
    .order-total {
      padding: 15px;
      margin: 15px 0 23px;
      background-color: $color_modal-order_total-bg;
      border-radius: 10px;
      .total-box {
        @include flex;
        justify-content: space-between;
        p {
          font-size: 0.9em;
        }
      }
    }
    .wc-proceed-to-checkout {
      .checkout-button {
        display: block;
        max-width: 300px;
        text-transform: uppercase;
        font-size: 1.125em;
        color: $color_white;
        background-color: $color_addToCart-bg;
        border: 1px solid $color_addToCart-bg;
        text-align: center;
        padding: 15px 0;
        border-radius: 10px;
        @include transition;
        margin: 0 auto 15px;
        &:hover {
          color: $color_addToCart-bg;
          background-color: $color_white;
        }
      }
    }
    .return-shop {
      color: $color_modal-product-name;
      position: relative;
      display: block;
      width: 205px;
      margin: 0 auto;
      &::after {
        content: url(../img/icon/arrows_down.png);
        position: absolute;
        top: 1px;
        transform: rotate(-90deg) scale(1.1);
      }
      &:hover {
        @include hvrOpacity;
      }
    }
  }
}

#autorithation-modal {
  .uk-modal-dialog {
    max-width: 810px;
    width: 98%;
  }
  .modal-body_autorithation {
    h2 {
      width: 100%;
      max-width: 455px;
      margin: 0 auto 35px;
    }
  }
  .content {
    @include flex;
    justify-content: space-between;
    legend,
    h4 {
      font-size: 1.125em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 15px;
    }
    .left,
    .right {
      flex: 0 1 48%;
    }
    .left {
      form {
        input {
          @include input;
        }
        input[type="submit"] {
          @include input-submit;
          max-width: 180px;
          margin-top: 0;
        }
      }
    }
    .right {
      border-color: $color_modal-form-item-bg;
      padding: 0 18px;
      border-radius: 10px;
      p {
        line-height: 1.5;
        font-size: 0.78em;
      }
      a {
        @include input;
        @include input-submit;
        display: block;
        margin-top: 38px;
      }
    }
    .left__form-footer {
      @include flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 0.78em;
        max-width: 180px;
        a {
          border-bottom: 1px solid $color_modal-border-item;
          &:hover {
            @include hvrOpacity;
          }
        }
      }
    }
  }
}

.uk-modal-dialog {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: $color_modal-bg;
  color: $color_modal-text;
}

.uk-close {
  opacity: 1;
  position: relative;
  z-index: 2;
  &:after {
    content: url(../img/icon/signs.png);
    margin: 0 0 0 -10px;
    font-family: "Montserrat-Regular" !important;
  }
}

// Mobile *******************************************************************************************
@media only screen and (min-width: 320px) and (max-width: 800px) {
  #cart-modal .modal-body h2::before {
    left: 20px;
  }
  #autorithation-modal {
    .content {
      .right,
      .left {
        flex: 0 1 100%;
        margin: 0 0 25px;
      }
      .left__form-footer {
        flex-wrap: wrap;
        justify-content: center;
        button[type="submit"] {
          margin-bottom: 10px;
        }
        p {
          text-align: center;
        }
      }
      .right {
        p {
          text-align: center;
        }
      }
    }
  }
}
