#ordering {
  .conteiner {
    background-color: $color_white;
    border-radius: 5px;
    padding: 25px 20px;
    max-width: 1225px;
  }
  .back__to {
    a {
      color: $color_cart_text;
      margin: 0 0 0 15px;
      font-family: "Gilroy-Regular";
      &::before {
        content: "â†";
        margin: 0 3px 0 -15px;
      }
    }
  }
  .head {
    @include flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: $color_header_link;
      font-size: 1.8em;
      margin-top: 10px;
      margin-bottom: 35px;
      // margin-left: 40px;
    }
    a {
      color: $color_cart_text;
      font-family: "Gilroy-Regular";
      font-weight: bold;
      margin: 0 15px 15px 0;
    }
  }
  .step__name-dreadcumbs {
    background-color: $color_step_bg;
    margin: 30px -20px 0;
    padding: 0 85px;
    ul {
      @include flex;
      li {
        padding: 28px 0;
        a {
          font-size: 1.125em;
          color: $color_cart_text;
          font-weight: bold;
          padding: 0 75px 0 20px;
          display: inline-block;
          position: relative;
          &::before {
            content: "1";
            background-color: $color_white;
            text-align: center;
            width: 25px;
            height: 25px;
            color: $color_cart_text;
            position: absolute;
            left: -20px;
            border-radius: 50%;
            font-size: 1em;
          }
          &::after {
            content: ">";
            margin: 0 20px;
            position: absolute;
            color: $color_cart_text;
          }
        }
        &:nth-child(2) a {
          &:before {
            content: "2";
          }
        }
        &:nth-child(3) a {
          color: $color_header_link;
          &:before {
            content: "3";
            color: $color_header_link;
          }
        }
      }
    }
  }
  .cart__content {
    .first,
    .item {
      @include flex;
      justify-content: space-between;
      .item {
        flex-direction: column;
        padding: 0;
        width: 100%;
        max-width: 550px;
      }
    }
    .method__delivery,
    .box {
      @include flex;
      justify-content: space-between;
      .box {
        flex-direction: column;
        width: 100%;
        max-width: 30%;
        &:first-child {
          width: 100%;
          max-width: 920px;
        }
        input {
        }
      }
    }
    #order_review {
      h3 {
        color: $color_header_link;
        font-size: 1.35em;
        padding: 40px 0 20px;
      }
    }
    .checkout {
      .woocommerce-billing-fields__field-wrapper {
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-gap: 10px;
        .form-row {
          display: flex;
          flex-direction: column;
          input {
            width: 100%;
            max-width: 300px;
          }
          input[type="radio"] {
            width: 20px;
          }
          &:nth-child(3) {
            display: none;
          }
          &:nth-child(1),
          &:nth-child(2) {
            input {
              width: 100%;
              max-width: 400px;
            }
          }
          &:nth-child(4) {
            grid-column: 1/3;
            input {
              width: 100%;
              max-width: 84%;
            }
          }
        }
      }
      legend {
        font-size: 1.3em;
        color: $color_header_link;
        font-weight: bold;
        padding: 20px 0;
      }
      label {
        font-weight: bold;
        color: $color_category-menu_text;
        font-weight: bold;
        padding: 10px 0;
        font-size: 1em;
        .required {
          display: none;
        }
      }
      input {
        padding: 10px;
        border: 1px solid $color_cart_border-item;
        font-size: 1em;
      }
    }
  }
}
.m-top {
  margin-top: 20px;
}
