#ordering {
  h1 {
    text-align: center;
    font-weight: normal;
    font-size: 2em;
    position: relative;
    text-transform: none;
    z-index: 1;
    margin: 0 auto 50px;
    width: 100%;
    max-width: 400px;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 88px;
      height: 43px;
      background-color: $color_h2-before-bg;
      z-index: -1;
      top: 2px;
      left: -30px;
    }
  }
  h2 {
    max-width: 440px;
    margin: 40px auto;
    text-align: center;
  }
  table.woocommerce-table--order-details {
    margin: 0 auto;
    thead,
    tbody,
    tfoot {
      tr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding: 7px 0;
      }
    }
    tbody {
      display: block;
      margin-bottom: 20px;
    }
  }
  section.woocommerce-customer-details address,
  ul.woocommerce-thankyou-order-details {
    width: 100%;
    max-width: 615px;
    margin: 0 auto;
    text-align: center;
  }

  .flex__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: $color_ordering-form-bg;
    padding: 30px 0;
    margin: 0 0 20px;
  }
  .woocommerce-billing-fields {
    h3 {
      padding: 0 0 20px;
      font-size: 1.25em;
    }
  }
  #customer_details,
  #order_review {
    padding: 0 20px;
    flex: 1 1 50%;
  }
  #customer_details {
    border-right: 2px solid $color_black;
  }
  .ordering__content {
    .first,
    .item {
      @include flex;
      justify-content: space-between;
      .item {
        flex-direction: column;
        padding: 0;
        width: 100%;
        max-width: 550px;
      }
    }

    #order_review {
      h3 {
        color: $color_header_link;
        font-size: 1.35em;
        padding: 20px 0;
      }
    }
    .checkout {
      legend {
        font-size: 1.3em;
        color: $color_header_link;
        font-weight: bold;
        padding: 20px 0;
      }
      label {
        font-weight: bold;
        color: $color_category-menu_text;
        font-weight: bold;
        font-size: 1em;
        .required {
          display: none;
        }
      }
    }
  }
}
.checkout {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  a[data-uk-modal] {
    margin: 20px auto 0;
    text-align: center;
    display: block;
    @include transition;
    &:hover {
      @include hvrOpacity;
    }
  }
  legend {
    margin-bottom: 15px;
  }
  input,
  textarea {
    @include input;
    margin-top: 7px;
    &::placeholder {
      color: $color_black;
    }
  }
  textarea {
    @include textarea;
    margin-bottom: 0;
  }
  button[type="submit"] {
    @include input-submit;
    padding: 15px 0;
    max-width: 360px;
    width: 100%;
  }
  input[type="checkbox"],
  input[type="radio"] {
    width: 20px;
  }
}
.form-row.place-order {
  text-align: center;
}
.m-top {
  margin-top: 20px;
}
#wcus_np_billing_fields {
  .select2-container--default .select2-selection--single {
    @include input;
    padding: 7px 13px;
    margin: 10px 0;
    height: 100%;
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 19px;
}
.wc-urk-shipping-form-group {
  padding-bottom: 0;
}
