@import "_mixin";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  margin: 0 auto;
}
main {
  background: $color_bg-main;
  margin-bottom: 50px;
}
.conteiner {
  max-width: $widthContent;
  margin: 0;
}
.m-auto {
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color_headers;
}
h1 {
  letter-spacing: 1px;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 2em;
  position: relative;
  text-transform: none;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 126px;
    height: 43px;
    background-color: $color_h2-before-bg;
    z-index: -1;
    top: -5px;
    left: -14px;
  }
}
a {
  text-decoration: none;
  color: $color_link;
}
p {
  color: $color_p_color;
}
ul {
  padding: 0;
  li {
    list-style: none;
    a {
      color: $color_link;
    }
  }
}
img {
  border: 0;
  max-width: 100%;
}
.lock {
  overflow: hidden;
}
.uk-link:hover,
a:hover {
  text-decoration: none;
}
address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0;
}
ins {
  background: none;
}
.logo {
  img {
    width: 260px;
    height: 60px;
    object-fit: contain;
  }
}
// sliders settings
.first__slider,
.last__slider {
  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    li {
      background-color: $color_slider_dot-li_bg;
      margin: 0 7.5px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $color_slider_dot-li_shadow;
      button {
        color: transparent;
        background-color: transparent;
      }
      &.slick-active {
        box-shadow: 0 0 0 1px $color_slider_dot-li_shadow;
        background-color: $color_slider_dot-li_shadow;
      }
    }
  }
}
.slick-prev,
.slick-next {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: transparent;
  background-color: $color_slider_arows;
  cursor: pointer;
}
.slider__brands {
  .slick-prev,
  .slick-next {
    content: url(../img/icon/arrows_prew.png);
  }
}
.new__product-slider {
  .slick-next {
    right: -50px;
    &::before {
      content: url(../img/icon/arrow_next_newSlider.png);
      position: absolute;
      left: 50%;
      top: 30px;
      transform: translateX(-50%);
    }
  }
  .slick-prev {
    left: -50px;
    &::before {
      content: url(../img/icon/arrow_prew_newSlider.png);
      position: absolute;
      left: 50%;
      top: 30px;
      transform: translateX(-50%);
    }
  }
}
.slider-nav {
  .slick-prev,
  .slick-next {
    position: absolute;
    // transform: translateY(-50%);
    z-index: 2;
    color: transparent;
    width: 100px;
    height: 100px;
    background-color: transparent;
    cursor: pointer;
  }
  .slick-prev {
    bottom: 20px;
    background-image: linear-gradient(
      360deg,
      rgb(254, 254, 254) 0%,
      rgba(254, 254, 254, 0) 100%
    );
    width: 105px;
    &::before {
      content: url(../img/icon/arrow_down-slider_nav.png);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -25px;
    }
  }
  .slick-next {
    top: -70px;
    &::before {
      content: url(../img/icon/arrow_up-slider_nav.png);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.slider_recomend,
.slider_similar,
.slider_related {
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $color_slider_arows;
    cursor: pointer;
  }
  .slick-next {
    right: -50px;
    &::before {
      content: url(../img/icon/arrow_next_newSlider.png);
      position: absolute;
      left: 50%;
      top: 30px;
      transform: translateX(-50%);
    }
  }
  .slick-prev {
    left: -50px;
    &::before {
      content: url(../img/icon/arrow_prew_newSlider.png);
      position: absolute;
      left: 50%;
      top: 30px;
      transform: translateX(-50%);
    }
  }
}
// breadcumbs
#breadcumbs {
  padding: 20px 0 10px;
  font-size: 0.785em;
  border-top: 1px solid $color_category-menu-border;
  ul {
    padding: 0;
    @include flex;
    li {
      &::after {
        content: "|";
        margin: 0 5px;
        color: $color_left_sidbar_text;
        font-size: 1em;
      }
      a {
        color: $color_left_sidbar_text;
        white-space: nowrap;
        &:hover {
          opacity: 0.75;
        }
      }
      &:last-child {
        &::after {
          content: none;
        }
        a {
          &:hover {
            opacity: 1;
            cursor: inherit;
          }
        }
      }
    }
  }
}
// pagination
#pagination {
  padding: 30px 0 20px;
  ul {
    @include flex;
    justify-content: center;
    li {
      cursor: pointer;
      &:last-child a {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      a,
      span {
        display: inline-block;
        background-color: $color_pagination_bg;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 10px 0;
        color: $color_pagination;
        font-weight: bold;
        @include transition;
        &[aria-current="page"] {
          background-color: $color_footer-linkMenu-active;
          color: $color_white;
          border-radius: 4px;
        }
      }
    }
  }
}
#contakts {
  .map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin: 20px 0;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  .contacts__adress,
  .contacts__phone {
    p {
      margin: 10px 0;
      color: $color_category-menu_text;
      font-size: 1.25em;
    }
  }
}
#shipping {
  h1 {
    font-family: "Gilroy-medium";
  }
  ul {
    li {
      font-size: 1.125em;
      margin: 5px 0;
      font-weight: bold;
      a,
      span {
        color: $color_footer-linkMenu-active;
      }
    }
  }
}
