@import "_mixin";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat-Regular";
  font-size: 18px;
}
main {
  background: $color_bg-main;
  margin-bottom: 50px;
}
.conteiner {
  max-width: $widthContent;
}
.m-auto {
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color_headers;
}
h1 {
  letter-spacing: 1px;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 2em;
  position: relative;
  text-transform: none;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 126px;
    height: 43px;
    background-color: $color_h2-before-bg;
    z-index: -1;
    top: -5px;
    left: -14px;
  }
}
a {
  text-decoration: none;
  color: $color_link;
}
p {
  color: $color_p_color;
}
ul {
  padding: 0;
  li {
    list-style: none;
    a {
      color: $color_link;
    }
  }
}
img {
  border: 0;
  max-width: 100%;
}
.lock {
  overflow: hidden;
}
.uk-link:hover,
a:hover {
  text-decoration: none;
}
address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0;
}
ins {
  background: none;
}
// logo
.logo {
  img {
    width: 260px;
    height: 60px;
    object-fit: contain;
  }
}
// sliders settings
.first__slider,
.last__slider {
  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    li {
      background-color: $color_slider_dot-li_bg;
      margin: 0 7.5px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $color_slider_dot-li_shadow;
      button {
        color: transparent;
        background-color: transparent;
      }
      &.slick-active {
        box-shadow: 0 0 0 1px $color_slider_dot-li_shadow;
        background-color: $color_slider_dot-li_shadow;
      }
    }
  }
}
// sliders arrows
.slick-prev,
.slick-next {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  color: transparent;
  background-color: $color_slider_arows;
  cursor: pointer;
  &::before {
    content: url(../img/icon/arrows_prew.png);
    position: absolute;
    top: 0;
  }
}
.slick-next {
  &::before {
    transform: rotate(180deg);
    top: -3px;
  }
}

.slider__brands {
  .slick-prev,
  .slick-next {
    top: 16.1px;
  }
  .slick-prev {
    left: -25px;
  }
  .slick-next {
    right: -35px;
  }
}

.new__product-slider,
.best__product-slider {
  .slick-next,
  .slick-prev {
    right: 0;
    top: -75px;
  }
  .slick-prev {
    right: 10px;
  }
}

.slider-for,
.slider-nav {
  .slick-prev,
  .slick-next {
    top: -235%;
    border: 1px solid $color_slider_arrow-border;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background-color: $color_slider_arrow-bg;
    @include transition;
    &:hover {
      @include hvrOpacity;
    }
  }
  .slick-prev,
  .slick-next {
    &::before {
      top: 16px;
      left: 16px;
    }
  }
  .slick-next {
    right: 0;
    &::before {
      top: 13px;
      right: 10px;
    }
  }
}

// breadcumbs
#breadcumbs {
  padding: 20px 0 10px;
  font-size: 0.785em;
  border-top: 1px solid $color_category-menu-border;
  ul {
    padding: 0;
    @include flex;
    li {
      &::after {
        content: "|";
        margin: 0 5px;
        color: $color_left_sidbar_text;
        font-size: 1em;
      }
      a {
        color: $color_left_sidbar_text;
        white-space: nowrap;
        &:hover {
          opacity: 0.75;
        }
      }
      &:last-child {
        &::after {
          content: none;
        }
        a {
          &:hover {
            opacity: 1;
            cursor: inherit;
          }
        }
      }
    }
  }
}
// pagination
#pagination {
  padding: 20px 0 10px;
  ul {
    @include flex;
    justify-content: center;
    li {
      cursor: pointer;
      position: relative;
      &:last-child a {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      &:first-child {
        &::after {
          content: none;
        }
        a {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
      &::after {
        content: "|";
        color: $color_left_sidbar_text;
        font-size: 1em;
        background-color: $color_pagination_bg;
        position: absolute;
        top: 9px;
        left: 0;
      }
      a,
      span {
        display: inline-block;
        background-color: $color_pagination_bg;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 10px 0;
        color: $color_pagination;
        @include transition;
        &[aria-current="page"] {
          font-weight: bold;
        }
      }
    }
  }
}

// contakts
#contakts {
  .map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin: 20px 0;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  .contacts__adress,
  .contacts__phone {
    p {
      margin: 10px 0;
      color: $color_category-menu_text;
      font-size: 1.25em;
    }
  }
}

// shipping
#shipping {
  h1 {
    font-family: "Gilroy-medium";
  }
  ul {
    li {
      font-size: 1.125em;
      margin: 5px 0;
      font-weight: bold;
      a,
      span {
        color: $color_footer-linkMenu-active;
      }
    }
  }
}

// mobile__content
.mobile__content {
  display: none;
  .category__link {
    text-align: center;
    display: block;
    padding: 7px 0;
    font-size: 1rem;
    font-weight: bold;
  }
  .mobile__content-description {
    background-color: $color_bg_header-bottom__row;
    padding: 30% 0 0;
    color: $color_white;
    line-height: 1.4;
    height: 100vh;
    font-size: 1rem;
    a {
      color: $color_white;
    }
  }
  .close-menu {
    background-color: $color_white;
    position: absolute;
    bottom: 0;
    width: 100%;
    p {
      color: $color_header_link;
      font-weight: bold;
      padding: 15px 0;
    }
  }
}
.mobile__content.active {
  display: block;
}

// rotate ::after
.product__description-show {
  color: $color_card__product-text;
  opacity: 0.8;
  position: relative;
  &::after {
    content: url(../img/icon/arrows_down.png);
    position: absolute;
    right: -20px;
    @include transition;
  }
  &:focus::after {
    transform: rotate(360deg);
  }
  &.close::after {
    transform: rotate(180deg);
  }
}
