.price {
  @include flex;
  flex-direction: column;
  del {
    margin-bottom: 10px;
    .amount {
      font-size: 0.785em;
      color: $color_card__product-text;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
  ins {
    .amount {
      color: $color_bg_header-bottom__row;
      font-weight: bold;
      font-family: "Gilroy-Medium";
    }
  }
}
.woocommerce-message,
.added_to_cart {
  display: none !important;
}

// notices-wrapper
.woocommerce-notices-wrapper {
  position: absolute;
  transform: translate(50%, 20px);
  color: $color_white;
  .restore-item {
    color: $color_white;
  }
}

// coment form
#respond {
  & > * {
    color: $color_card_name;
  }
}

// settings

.woocommerce {
  background: $color_bg-main;
  margin: 0 auto;
  .page {
    background: $color_bg-main;
    padding: 20px 60px;
    .entry-title {
      padding: 0 0 25px;
    }
    h2 {
      color: $color_footer-linkMenu-active;
      padding: 0;
      &::after,
      &::before {
        content: none;
      }
    }
  }
  .entry-content,
  .entry-header {
    max-width: $widthContent;
    margin: 0 auto;
    .woocommerce {
      background-image: none;
    }
  }
  .entry-content,
  #payment {
    h3 {
      color: $color_footer-linkMenu-active;
      font-size: 1.5em;
      padding: 10px 0;
    }
    p {
      margin: 10px 0;
      color: $color_category-menu_text;
      display: flex;
      flex-direction: column;
    }
    span {
      font-size: 0.8em;
      font-weight: normal;
    }
    .select2-selection__rendered {
      font-size: 1.25rem;
    }
    .notes {
      @include flex;
      flex-direction: column;
    }
  }

  .lost_password {
    a {
      color: $color_footer-linkMenu-active;
    }
  }
  .woocommerce-checkout-review-order-table {
    @include flex;
    .order-total {
      padding: 10px 0 20px;
      p {
        font-weight: bold;
        color: $color_footer-linkMenu-active;
        font-size: 1.3em;
        span {
          color: $color_footer-linkMenu-active;
          margin: 0 0 0 20px;
        }
      }
    }
  }

  // table
  .woocommerce-checkout-review-order-table {
    .cart-subtotal {
      display: none;
    }
    thead,
    tbody {
      tr {
        display: grid;
        grid-template-columns: 200px 1fr;
        th,
        td {
          padding: 10px 0px;
          text-align: left;
        }
      }
    }
    thead {
      margin: 0 30px 0 0;
    }
    tfoot {
      margin: 10px 0;
      tr {
        display: block;
      }
    }
    .woocommerce-shipping-totals {
      th {
        padding-right: 16px;
      }
    }
    .order-total {
      th {
        padding-right: 50px;
      }
    }
  }

  // woocommerce-order
  .woocommerce-order {
    .woocommerce-notice {
      color: $color_footer-linkMenu-active;
      font-weight: bold;
      font-size: 1.5em;
      text-align: center;
    }
    ul {
      li {
        padding: 5px 0;
      }
      .woocommerce-Price-amount {
        font-weight: bold;
        color: $color_footer-linkMenu-active;
        font-size: 1.25em;
      }
    }
  }

  // filtr category-page

  .chosen-container {
    width: 100% !important;
  }

  .wc-proceed-to-checkout {
    margin-top: 15px;
  }
  .woocommerce-privacy-policy-link {
    color: $color_footer-linkMenu-active;
    font-weight: bold;
  }
  .woocommerce-order {
    margin: 30px 0 10px;
  }

  .login,
  .register {
    p {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      width: 100%;
      text-align: center;
      label {
        margin: 5px 0;
        text-align: left;
      }
    }
  }
  .woocommerce-info {
    margin: 0 auto;
    color: $color_white;
  }
  .content__otherPage {
    background-color: $color_white;
    padding: 20px;
    border-radius: 5px;
  }
  .sale__items {
    @include flex;
    align-items: center;
  }
  .sale_cat {
    margin: 10px;
    .sale_head {
      position: relative;
      h3 {
        font-size: 2em;
        line-height: 1.2;
        position: absolute;
        padding: 10px 5px;
      }
      img {
        max-width: 300px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
  .sale_cat_item {
    h3 {
      font-size: 2em;
      color: $color_footer-linkMenu-active;
      margin: 0 0 20px;
    }
    .sale_img {
      margin: 0 10px 10px 0;
    }
    .sale_text {
      line-height: 1.4;
    }
  }

  #customer_login {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 5px;
  }
  .woocommerce-MyAccount-navigation {
    ul {
      @include flex;
      justify-content: space-evenly;
      margin: 0 0 30px;
      li {
        a {
          color: $color_footer-linkMenu;
          font-weight: bold;
          width: 150px;
          padding: 10px;
        }
        &.is-active {
          a {
            color: $color_footer-linkMenu-active;
          }
        }
      }
    }
  }
  .woocommerce-MyAccount-content {
    @include flex;
    flex-direction: column-reverse;
    p {
      a {
        color: $color_footer-linkMenu-active;
        font-weight: bold;
      }
    }
  }
  .woocommerce-orders-table {
    thead,
    tbody {
      tr {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
  .woocommerce-orders-table__row--status-processing {
    text-align: center;
  }
  .woocommerce-Addresses {
    @include flex;
    justify-content: space-around;
    margin: 0 0 20px;
    .woocommerce-Address-title {
      a {
        color: $color_footer-linkMenu-active;
      }
    }
  }
  .wpcf7-response-output,
  .span.wpcf7-not-valid-tip {
    font-size: 0.5em;
    margin: 0;
  }
}
form.woocommerce-ResetPassword,
form.woocommerce-EditAccountForm {
  p {
    text-align: center;
    &.woocommerce-form-row {
      @include flex;
      flex-direction: column;
      label {
        margin-bottom: 10px;
      }
    }
  }
  fieldset {
    margin: 15px 0 0;
  }
  legend {
    font-weight: bold;
    font-size: 1.125em;
    text-align: center;
    margin-bottom: 10px;
  }
  input,
  button {
    @include input;
    max-width: 320px;
    margin: 0 auto 10px;
  }
  button {
    @include input-submit;
    margin-top: 0;
  }
}
#wcus_np_billing_fields {
  max-width: 333px;
}
