.price {
  @include flex;
  flex-direction: column;
  del {
    margin-bottom: 10px;
    .amount {
      font-size: 0.785em;
      color: $color_card__product-text;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
  ins {
    .amount {
      color: $color_bg_header-bottom__row;
      font-weight: bold;
      font-family: "Gilroy-Medium";
    }
  }
}
.woocommerce-message,
.added_to_cart {
  display: none !important;
}
#category {
  .added_to_cart {
    bottom: -60px;
  }
}
.add-to-cart {
  .added_to_cart {
    padding: 18px 4px !important;
    left: -83px;
    bottom: 47px;
    &::after,
    &::before {
      content: none !important;
    }
  }
}
.sale__product-slider {
  .added_to_cart {
    bottom: -15px;
    left: -70px;
  }
}
.slider_recomend,
.slider_similar,
.slider_related {
  .added_to_cart {
    font-size: 8px !important;
    padding: 13px 7px !important;
    left: 38px !important;
    bottom: 37px !important;
    border-radius: 5px;
  }
}

// cart

#cart {
  .cart_item {
    @include flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color_white;
    padding: 28px 0;
    width: 100%;
    max-width: 780px;
    border-bottom: 1px solid $color_cart_border-item;
    &:first-child {
      border-top: 2px solid $color_cart_attribute;
    }
    &:last-child {
      border-bottom: none;
    }
    .cart_item-box {
      @include flex;
      align-items: center;
      padding: 0 10px;
      &:nth-child(2),
      &:nth-child(3) {
        flex-direction: column;
      }
      &:nth-child(2) {
        align-items: baseline;
      }
    }
    .product-remove {
      margin: 0 20px;
      a {
        font-size: 40px;
        color: $color_cart_attribute;
      }
    }
    .product-thumbnail {
      border: 1px solid $color_cart_attribute;
      padding: 5px;
      a img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }
    .product-name {
      margin-bottom: 30px;
      a {
        display: block;
        width: 100%;
        max-width: 380px;
        color: $color_category-menu_text;
        font-size: 1.125em;
        font-weight: bold;
      }
    }
    .product-price {
      font-size: 1.25em;
      span {
        color: $color_category-menu_text;
      }
    }
    .product-subtotal {
      color: $color_cart_text;
    }
    .itemOfGoods,
    .weigth {
      p {
        color: $color_cart_text;
      }
    }
    .quantity {
      margin-top: 10px;
      .screen-reader-text {
        display: none;
      }
      input[type="number"] {
        width: 50px;
        height: 30px;
        font-size: 1.25em;
        text-align: center;
      }
    }
  }
}
.product-quantity {
  position: relative;
}
#quantity-arrow-plus,
#quantity-arrow-minus {
  position: absolute;
  background-color: transparent;
  @include transition;
  font-size: 1.25em;
  cursor: pointer;
  width: 30px;
  height: 35px;
  border-radius: 4px;
  background-color: transparent;
  top: 5px;
  color: $color_card__product-text;
  &:hover {
    background-color: $color_footer-linkMenu-active;
    color: $color_white;
  }
}
#quantity-arrow-minus {
  left: -30px;
}
#quantity-arrow-plus {
  right: -30px;
  top: 7px;
}

// notices-wrapper
.woocommerce-notices-wrapper {
  position: absolute;
  transform: translate(50%, 20px);
  color: $color_white;
  .restore-item {
    color: $color_white;
  }
}

// coment form
#respond {
  & > * {
    color: $color_card_name;
  }
}

// settings

.woocommerce {
  background: $color_bg-main;
  .cart-empty,
  .return-to-shop {
    color: $color_white;
    font-size: 1.25em;
    margin: 0 auto;
    max-width: $widthContent;
    padding: 20px 45px;
    font-weight: bold;
  }
  .return-to-shop {
    a {
      font-size: 1em;
      color: $color_white;
      font-weight: normal;
    }
  }
}
.page {
  background: $color_bg-main;
  padding: 20px 60px;
  .entry-title {
    padding: 0 0 25px;
  }
  h2 {
    color: $color_footer-linkMenu-active;
    padding: 0;
    &::after,
    &::before {
      content: none;
    }
  }
}
.entry-content,
.entry-header {
  max-width: $widthContent;
  margin: 0 auto;
  .woocommerce {
    background-image: none;
  }
}
.entry-content,
#payment {
  background-color: $color_white;
  border-radius: 5px;
  padding: 20px;
  button {
    padding: 0 20px;
    height: 40px;
    background-color: $color_footer-subscribe-btn;
    font-size: 1em;
    color: $color_white;
    @include transition;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: $color_white;
      color: $color_footer-subscribe-btn;
    }
  }
  h3 {
    color: $color_footer-linkMenu-active;
    font-size: 1.5em;
    padding: 10px 0;
  }
  p {
    margin: 10px 0;
    color: $color_category-menu_text;
  }
  label {
    color: $color_category-menu_text;
    font-weight: bold;
    font-size: 1.125em;
  }
  input {
    font-size: 1.35em;
    color: $color_cart_text;
    border-bottom: 1px solid $color_cart_attribute;
    width: 190px;
    color: $color_cart_text;
    background-color: transparent;
    padding: 0 10px;
  }
  textarea {
    resize: none;
    width: 100%;
    max-width: 320px;
    height: 140px;
    border: 1px solid $color_cart_attribute;
    font-size: 1em;
    padding: 10px;
    color: $color_text-description;
    font-family: "Gilroy-medium";
    border-radius: 4px;
  }
  input[type="checkbox"] {
    width: inherit;
  }
  span {
    font-size: 0.8em;
    font-weight: normal;
  }
  .select2-selection__rendered {
    font-size: 1.25rem;
  }
  .notes {
    @include flex;
    flex-direction: column;
  }
}

.lost_password {
  a {
    color: $color_footer-linkMenu-active;
  }
}
.woocommerce-checkout-review-order-table {
  @include flex;
  .cart_item,
  .totall {
    padding: 10px;
    margin: 10px 10px 10px 0;
    height: 100%;
  }
  .cart_item {
    .product-name,
    .product-quantity,
    .product-total {
      @include flex;
      padding: 10px 0;
      p {
        width: 25%;
      }
      span {
        width: 70%;
      }
    }
  }
  .order-total {
    padding: 10px 0 20px;
    p {
      font-weight: bold;
      color: $color_footer-linkMenu-active;
      font-size: 1.3em;
      span {
        color: $color_footer-linkMenu-active;
        margin: 0 0 0 20px;
      }
    }
  }
  .weight {
    padding: 10px 0 0;
  }
}
.wc_payment_method {
  margin-bottom: 20px;
}
// woocommerce-order
.woocommerce-order {
  .woocommerce-notice {
    color: $color_footer-linkMenu-active;
    font-weight: bold;
    font-size: 1.5em;
  }
  ul {
    li {
      padding: 5px 0;
    }
    .woocommerce-Price-amount {
      font-weight: bold;
      color: $color_footer-linkMenu-active;
      font-size: 1.25em;
    }
  }
}

// filtr category-page

.chosen-container {
  width: 100% !important;
}

.wc-proceed-to-checkout {
  margin-top: 15px;
}
#payment {
  padding: 0;
}
.woocommerce-privacy-policy-link {
  color: $color_footer-linkMenu-active;
  font-weight: bold;
}
.woocommerce-order {
  margin: 30px 0 10px;
}

.login,
.register {
  p {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 100%;
    text-align: center;
    label {
      margin: 5px 0;
      text-align: left;
    }
  }
}
.woocommerce-info {
  margin: 0 auto;
  color: $color_white;
}
.content__otherPage {
  background-color: $color_white;
  padding: 20px;
  border-radius: 5px;
}
.sale__items {
  @include flex;
  align-items: center;
}
.sale_cat {
  margin: 10px;
  .sale_head {
    position: relative;
    h3 {
      font-size: 2em;
      line-height: 1.2;
      position: absolute;
      padding: 10px 5px;
    }
    img {
      max-width: 300px;
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
.sale_cat_item {
  h3 {
    font-size: 2em;
    color: $color_footer-linkMenu-active;
    margin: 0 0 20px;
  }
  .sale_img {
    margin: 0 10px 10px 0;
  }
  .sale_text {
    line-height: 1.4;
  }
}
.content__otherPage {
  h1,
  h2 {
    color: $color_header_link;
    padding: 0;
    margin: 0 0 20px;
    text-align: center;
  }
}

#sale {
  .product__items {
    justify-content: center;
    ul {
      @include flex;
    }
    .added_to_cart {
      left: -70px;
      bottom: -15px;
    }
  }
}

#customer_login {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 5px;
}
.woocommerce-MyAccount-navigation {
  ul {
    @include flex;
    justify-content: space-evenly;
    margin: 0 0 30px;
    li {
      a {
        color: $color_footer-linkMenu;
        font-weight: bold;
        width: 150px;
        padding: 10px;
      }
      &.is-active {
        a {
          color: $color_footer-linkMenu-active;
        }
      }
    }
  }
}
.woocommerce-MyAccount-content {
  @include flex;
  flex-direction: column-reverse;
  p {
    a {
      color: $color_footer-linkMenu-active;
      font-weight: bold;
    }
  }
}
.woocommerce-orders-table__row--status-processing {
  text-align: center;
}
.woocommerce-Addresses {
  @include flex;
  justify-content: space-around;
  margin: 0 0 20px;
  .woocommerce-Address-title {
    a {
      color: $color_footer-linkMenu-active;
    }
  }
}
.wpcf7-response-output,
.span.wpcf7-not-valid-tip {
  font-size: 0.5em;
  margin: 0;
}

#registration {
  h2 {
    width: 245px;
    margin: 0 auto 35px;
  }
  form {
    background-color: $color_elem-bg;
    padding: 30px;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    legend {
      margin-bottom: 15px;
    }
    input,
    textarea {
      @include input;
      &::placeholder {
        color: $color_black;
      }
    }
    textarea {
      @include textarea;
      margin-bottom: 0;
    }
    button[type="submit"] {
      @include input-submit;
      padding: 15px 0;
    }
  }
}
